<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/hotel_db
   </property>
   <property name="hibernate.connection.username">
      bruker
   </property>
   <property name="hibernate.connection.password">
      passord
   </property>

   <!-- List of XML mapping files -->
   <mapping resource="model/dto/RoomTypeDTO.hbm.xml"/>
   <mapping resource="model/dto/BookingDTO.hbm.xml"/>
   <mapping resource="model/dto/HotelDTO.hbm.xml"/>
   <mapping resource="model/dto/HotelRoomDTO.hbm.xml"/>
   <mapping resource="model/dto/RoomBookingDTO.hbm.xml"/>
   <mapping resource="model/dto/DiscountDTO.hbm.xml"/>
   <mapping resource="model/dto/PeakPeriodDTO.hbm.xml"/>
   <mapping resource="model/dto/ManagerDTO.hbm.xml"/>
</session-factory>
</hibernate-configuration>